<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">top</a></li>
        <li><a href="">menu1</a></li>
        <li><a href="">menu2</a></li>
      </ul>
    </div>
  </div>
</nav>
  <article>
    <div class="panel panel-primary">
      <div class="panel-heading">
        タイトルパネル
      </div>
    <div class="panel-body">
      <h1>Bootstrapシリーズ課題1</h1>
    </div>
      </div>
    </div>

      <div class="row">
        <div class="contents">
          <ul class="row_A">
            <li class="col-sm-6 col-md-3">ｺﾝﾃﾝﾂ１ <span class="label label-primary">Primary</span></li>
            <li class="col-sm-6 col-md-3">ｺﾝﾃﾝﾂ２ <span class="label label-success">Secondary</span></li>
            <li class="col-sm-6 col-md-3">ｺﾝﾃﾝﾂ３ <span class="label label-warning">Tertiary</span></li>
            <li class="col-sm-6 col-md-3">ｺﾝﾃﾝﾂ４ <span class="label label-danger">quaternary</span></li>
          </ul>
        </div>
  </article>
  <article>
      <div class="row">
          <div class="topic">
            <ul class="row_B">
              <li class="col-md-12">コンポーネント１：グローバルナビゲーション</li>
              <li class="col-md-12">コンポーネント２：パネル</li>
              <li class="col-md-12">コンポーネント３：ラベル</li>
              <li class="col-md-12">以上</li>
            </ul>
          </div>
      </div>

    </div>
  </article>
</div>
    